body
  >footer.step1 .step1,
  >footer.step2 .step2,
  >footer.step3 .step3,
  >footer.step4 .step4,
  >footer.step5 .step5,
  >footer.step6 .step6,
  >footer.step7 .step7
      circle:nth-child(1)
        stroke: white !important
      circle:nth-child(2)
        fill: white !important
        
  >footer.step8
    background: url("assets/piano.png")
    background-size: 75em;
    background-repeat: no-repeat;
    background-position-x: center;    
    .progress, .restart, .set_lang
      display:none
      
  >footer.step9
    display:none